body{
    font-family: Bebas Neue;
    background-image: url('/static/images/bg2.png'); 
    width: 100%;
}

table{
    width: 1252px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 120px;
}

h1{
    font-size: 128px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: inline-block;
    font-size: 70px;
    padding: 16px 32px;    
    background-color: #FFCE07;
    color: #401874;
    margin-left: 32px;
  }
  
.tdimg{
    width: 120px;
    height: 120px;
}

.td1{
    text-align: center;
    color: #FFCE07;
    font-size: 32px;
    width: 32px;
}

.td{
    color: #ffffff;
    font-size: 32px;
    width: 56px;
}

.club{
    padding-left: 16px;
    font-size: 32px;
    color: #ffffff;
}

.clubname{
    width: 600px;
    font-size: 32px;
    color: #ffffff;
}

.clublogo{
    width: 10px;
}

tr{
    border-bottom: 2px solid #00000023;
}
